*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace, sans-serif; }

.wrapper {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }
  .wrapper .container-month {
    height: 600px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    position: relative; }
    @media screen and (max-width: 736px) {
      .wrapper .container-month {
        border: none; } }
    .wrapper .container-month .title {
      width: 220px;
      margin: 0 auto;
      padding: 24px 0 16px;
      font-size: 2rem;
      text-align: center;
      position: relative; }
      .wrapper .container-month .title:after {
        position: absolute;
        content: '';
        height: 2px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        left: 0;
        bottom: 0; }
    .wrapper .container-month .container-week {
      display: flex;
      justify-content: flex-start;
      margin: 26px auto 0;
      font-size: 1.6rem; }
      .wrapper .container-month .container-week .week {
        width: 100px; }
        @media screen and (max-width: 736px) {
          .wrapper .container-month .container-week .week {
            width: 58px; } }
        @media screen and (max-width: 375px) {
          .wrapper .container-month .container-week .week {
            width: 46px; } }
        .wrapper .container-month .container-week .week .week-title {
          text-align: center;
          position: relative;
          padding-bottom: 12px; }
          @media screen and (max-width: 736px) {
            .wrapper .container-month .container-week .week .week-title {
              width: 100%;
              padding-right: 16px;
              overflow: hidden;
              text-overflow: ellipsis; } }
          .wrapper .container-month .container-week .week .week-title:after {
            position: absolute;
            content: '';
            height: 2px;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            left: 0;
            bottom: 0; }
        .wrapper .container-month .container-week .week .week-date {
          text-align: center;
          padding: 16px;
          transition: all 0.4s;
          color: black;
          font-weight: normal; }
          .wrapper .container-month .container-week .week .week-date:hover {
            cursor: pointer; }
          .wrapper .container-month .container-week .week .week-date.active {
            position: relative; }
            .wrapper .container-month .container-week .week .week-date.active:before {
              position: absolute;
              content: '';
              -webkit-clip-path: polygon(100% 0, 0 0, 0 44%);
              clip-path: polygon(100% 0, 0 0, 0 44%);
              height: 100%;
              left: 0;
              bottom: 0;
              width: 100%;
              background-color: #006696; }
            .wrapper .container-month .container-week .week .week-date.active:after {
              position: absolute;
              content: '';
              -webkit-clip-path: polygon(100% 100%, 0 100%, 100% 66%);
              clip-path: polygon(100% 100%, 0 100%, 100% 66%);
              height: 100%;
              left: 0;
              bottom: 0;
              width: 100%;
              background-color: #006696; }
          .wrapper .container-month .container-week .week .week-date.green {
            background-color: black;
            color: whitesmoke;
            font-weight: bold; }
          .wrapper .container-month .container-week .week .week-date.red {
            background-color: #4b0023;
            color: whitesmoke;
            font-weight: bold; }
          .wrapper .container-month .container-week .week .week-date.purple {
            background-color: #002d4b;
            color: whitesmoke;
            font-weight: bold; }
    .wrapper .container-month .container-paint {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0 200px;
      position: absolute;
      bottom: 0; }
      @media screen and (max-width: 736px) {
        .wrapper .container-month .container-paint {
          padding: 0 20px; } }
      .wrapper .container-month .container-paint .container-names {
        display: flex;
        justify-content: space-around;
        padding-bottom: 8px; }
        .wrapper .container-month .container-paint .container-names .name {
          font-weight: bold; }
      .wrapper .container-month .container-paint .container-colors {
        display: flex;
        justify-content: space-around;
        padding-bottom: 8px; }
        .wrapper .container-month .container-paint .container-colors .color {
          height: 32px;
          width: 32px;
          border: 2px solid rgba(0, 0, 0, 0.1);
          border-radius: 12px;
          transition: opacity 0.4s;
          opacity: 0.4; }
          .wrapper .container-month .container-paint .container-colors .color:hover {
            cursor: pointer;
            opacity: 1; }
          .wrapper .container-month .container-paint .container-colors .color.active-color {
            opacity: 1; }
          .wrapper .container-month .container-paint .container-colors .color.green {
            background-color: black; }
          .wrapper .container-month .container-paint .container-colors .color.red {
            background-color: #4b0023; }
          .wrapper .container-month .container-paint .container-colors .color.purple {
            background-color: #002d4b; }
